.center {
    margin: 0 auto;
    text-align: center;
  }


  #in1 {
    width: 200px;
    height: 30px;
    text-align: center;
    margin: 1.5%;
  }
  
  h4 {
    margin: 10px;
  }
  
  table {
    margin: auto;
  }

  td {
    padding-left: 20px;
  }
  
  
  /* .background {
      background-color: ;
    } */
  
  p {
    color: rgb(255, 255, 255);
    font-size: 16px;
    padding-top: 10px;
    /* background-color:rgba(156, 141, 141, 0.4); */
    margin: 0 auto;
    text-align: center;
    width: 56%;
  }

  #p1{
    /* background-color: tan; */
    background-color: rgba(210, 180, 140, 0.5);
    border-radius: 5px;
  }
  
  b {
    font-size: 16px;
    padding-top: 10px;
  }



  body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* background: url(http://codeskulptor-demos.commondatastorage.googleapis.com/GalaxyInvaders/back05.jpg) no-repeat; */
    background: url("rpsjpg.jpg") repeat;
    background-size: cover;
    height: 100vh;
  }
  
  h1 {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* color: #18fa76; */
    /* color :#ffac5f; */
    color : rgb(90, 59, 59);
    margin: 40px 0;
  }

  #heading{
    /* background-color:rgba(167, 121, 121, 0.5); */
    background-color:rgba(210, 180, 140, 0.5);
    padding: 20px;
    border-radius: 12px;
  }
  .center{
    width: 90%;
    margin: 60px;
    border-radius: 15px;
    background-color:rgba(156, 141, 141, 0.4);
    padding: 20px;
  }

  h2 {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ce9e71;
  }
  
  .box {
    width: 30%;
    margin: 0 auto;
    margin-bottom: 40px;
    background: rgba(233, 224, 224, 0.2);
    padding: 35px;
    border: 2px solid #fff;
    border-radius: 20px;
    background-clip: padding-box;
    text-align: center;
  }

  span{
    color: rgb(90, 59, 59);
  }
  
  .btn {
    font-size: 1.2em;
    padding: 10px;
    color: rgb(0, 0, 0);
    border: 2px solid #ce9e71;
    border-radius: 12px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }
  .btn:hover {
    background: rgba(210, 180, 140, 0.5);
    color: #fff;
  }

  #btn {
    position: absolute;
    margin-left: 31%;
    margin-top: -4%;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    margin: 70px auto;
    padding: 20px;
    /* background-color: rgba(215, 180, 180, 0.9); */
    background-color: cornsilk;
    /* background-color: rgba(255, 248, 220); */
    /* background-color: rgba(210, 180, 140, 0.5); */
    border: 4px solid #ce9e71;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 3s ease-in-out;
  }
  
  /* .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  } */
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: #ce9e71;
  }
  .popup .content {
    max-height: 30%;
    overflow: auto;
  }
  
  /* @media screen and (max-width: 700px){
    .box{
      width: 70%;
    }
    .popup{
      width: 70%;
    }
  } */