<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RockPaperScissor</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   
</head>
<body>
    <div class="container-fluid">
        <div class="center">
            <h1 id="heading">Welcome to the Game of Rock, Paper and Scissor</h1>
            <p>First, Computer will choose one from Rock, Paper and Scissor. Your job is to beat Computer in this game. Good Luck!</p>
            <button id="btn" class="btn" onclick="window.location.href='#popup1';">Rules</button><br/><br/>
            Enter UserName :<input type="text" id="pname" name="pname" />
            <button id="btn1" class="btn btn-primary btn-sm">Submit</button>
        </div>
    </div>
</body>
</html>