<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
    <link href="/static/game.css" rel="stylesheet">
</head>
<body>
    <div class="container-fluid">
        <div class="center">
            <h1 id="heading">Welcome to the Game of Rock, Paper and Scissor</h1>
            
            <div id="box1" class="container-fluid">
                <p>Please enter your name to proceed...</p>
                <form action="/" method="post">
                    <p id="error"></p>
                    <b><span>Enter your Name : </span><input type="text" id="pname" name="pname" placeholder="Enter player name"></b></br>
                    <button id="btn6" class="btn-lg btn-primary" type="submit" >Go</button>  
            </div>
    </div>
</body>
</html>